* {
    box-sizing: border-box;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 17%, rgba(0, 212, 255, 1) 100%);
    display: flexbox;
    align-content: center;
    justify-content: center;
}

.heading {
    color: whitesmoke;
    margin-top: 15%;
    margin-left: 37%;
}

#form {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 1rem;
    box-shadow: 0 5px 10px cadetblue;
    background-color: rgb(186, 215, 241);
}

#search {
    width: 100%;
    /* border-radius: 1rem; */
    box-shadow: 0 5px 10px cadetblue;
    padding: 0.5rem;
    background-color: rgb(186, 215, 241);
}

.card {
    width: 20%;
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 2rem;
    display: flexbox;
    align-content: center;
    justify-content: center;
    background-color: wheat;
    border-radius: 2rem;
}

.card:hover {
    transform: scale(1.1);
}

.card h1 {
    padding-top: 1rem;
    padding-left: 30%;
    padding-right: 30%;
}

.card .weather-info {
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}